@charset "UTF-8";


* {
  /* box-sizing: border-box; */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

body {
  background-color: var(--theme-color);
  color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
body .pan {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
body .scene {
  height: 200px;
  transition: transform 1s, top 0.2s, left 0.2s;
  /* border: 1px solid #d0baef; */
}
body .scene .symx {
  height: 500%;
  width: 1px;
  background: var(--accent-color);
  position: absolute;
  left: 50%;
  transform: translateY(-75%) translateX(0px);
  z-index: 100;
}
body .scene .symy {
  height: 1px;
  width: 500%;
  background: var(--accent-color);
  position: absolute;
  top: 50%;
  transform: translateY(0px) translateX(-30%);
  z-index: 100;
}
@-webkit-keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
body .scene.Spin {
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-50%);
  }
}
body .scene.Bounce {
  -webkit-animation: bounce 1s linear infinite;
          animation: bounce 1s linear infinite;
}
@-webkit-keyframes wobble {
  0% {
    transform: translateY(-50%) translateX(-10px);
  }
  50% {
    transform: translateY(-50%) translateX(10px);
  }
  100% {
    transform: translateY(-50%) translateX(-10px);
  }
}
@keyframes wobble {
  0% {
    transform: translateY(-50%) translateX(-10px);
  }
  50% {
    transform: translateY(-50%) translateX(10px);
  }
  100% {
    transform: translateY(-50%) translateX(-10px);
  }
}
body .scene.Wobble {
  -webkit-animation: wobble 1s linear infinite;
          animation: wobble 1s linear infinite;
}
body .scene.reflect {
  -webkit-box-reflect: below 10px -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 76%, white 107%);
}
body .scene .row, body .scene .col {
  position: absolute;
  top: 0;
}
body .scene_pixelrow {
  box-shadow: 0px 0.3px rgba(255, 255, 255, 0.2) inset, 0px 0px rgba(255, 255, 255, 0.0) inset;
  pointer-events: none;
}
body .scene_pixelcolumn {
  float: left;
  box-shadow: 0px 0px rgba(255, 255, 255, 0.0) inset, 0.3px 0px rgba(255, 255, 255, 0.2) inset;
  z-index: 10;
}
body .scene_pixel {
  position: absolute;
  float: left;
}
body .picker {
  z-index: 2;
  transform: translateY(0);
  left: calc(100vw - 220px - 2vw);
  top: 15vh;
  position: relative;
  background: var(--theme-color-2);
  padding: 20px;
  border-radius: 4px;
  width: 220px;
  height: 304px;
}
body .picker .pick:hover .tipt {
  opacity: 1;
  top: 310px;
}
body .picker .tipt {
  padding: 0.8vh 0.8vw;
  background: var(--theme-color-2);
  transition: all 0.2s;
  opacity: 0;
  top: 330px;
  pointer-events: none;
  width: 80px;
  font-weight: 400;
  font-size: 1.5vh;
  left: 140px;
  border-radius: 4px;
  color: white;
  position: absolute;
  text-align: center;
}
body .picker .col {
  border: 2px solid #ffffff;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: -4px;
  background-color: #ffffff;
}
body .picker .output {
  font-size: 10px;
  font-weight: 600;
  margin-left: 10px;
  display: none;
}
body .picker h2 {
  font-size: 11px;
  margin-bottom: -6px;
  margin-top: 30px;
  float: left;
  text-transform: uppercase;
  color: #81f0ef;
  margin: 0;
  font-weight: 600;
  clear: both;
  position: absolute;
  top: -30px;
  left: 0px;
}
body .picker h2 i {
  margin-right: 6px;
}
body .extras {
  position: absolute;
  right: 0;
  height: 100% vh;
  top: 150px;
}
/* body .overlay {
  background: #1825e2;
  height: 116px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 280px;
} */
body .tools {
  position: fixed;
  right: 0;
  height: 7vh;
  padding: 2vh 2vw;
  width: calc(100vw - 15vw);
  background-color: var(--theme-color);
}
body .tools .tipt {
  padding: 0.8vh 0.8vw;
  background: var(--theme-color-2);
  transition: all 0.2s;
  opacity: 0;
  top: 8vh;
  pointer-events: none;
  width: 7vw;
  font-weight: 400;
  font-size: 1.6vh;
  left: -3vw;
  border-radius: 4px;
  color: white;
  position: absolute;
  text-align: center;
}
body .tools div {
  float: left;
}
body .tools div:hover .tipt {
  opacity: 1;
  top: 5vh;
}
body .tools_zoom {
  margin: 0 2vw 0 0;
  width: 20vw;
  /* float: left; */
  position: relative;
}
body .tools_zoom .tip {
  padding: 0.8vh 0.8vw;
  background: var(--theme-color-2);
  transition: opacity 0.5s;
  opacity: 0;
  top: 5vh;
  font-weight: 400;
  font-size: 1.5vh;
  left: 0;
  border-radius: 4px;
  position: absolute;
  text-align: center;
}
body .tools_grid, body .tools_pan, body .tools_save, body .tools_center, body .tools_symx, body .tools_symy {
  color: var(--tool-color-hover);
  transition: all 0.2s;
  position: relative;
  /* top: -1px; */
  font-size: 2.6vh;
  margin: 0vh 1.4vw;
  cursor: pointer;
}
body .tools_grid:hover, body .tools_pan:hover, body .tools_save:hover, body .tools_center:hover, body .tools_symx:hover, body .tools_symy:hover {
  color: var(--tool-color-hover) !important;
}
body .tools_grid.inactive, body .tools_pan.inactive, body .tools_save.inactive, body .tools_center.inactive, body .tools_symx.inactive, body .tools_symy.inactive {
  color: var(--tool-color);
}
body .tools input[type=submit], body .tools .tools_export_png {
  padding: 16px 26px;
  border-radius: 3px;
  float: right !important;
  font-weight: 600;
  font-size: 11px;
  margin-right: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
body .tools input[type=submit] i, body .tools .tools_export_png i {
  transition: all 0.2s;
  margin-right: 10px;
}
body .tools input[type=submit]:hover i, body .tools .tools_export_png:hover i {
  margin-right: 20px;
}
body .tools input[type=submit] {
  background: #ae88f0;
  color: white;
  border: none;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}
body .tools input[type=submit]:hover {
  background: #8f5bea;
}
body .tools_export_png {
  background: #81f0ef;
  color: #41a09f;
}
body .tools_export_png:hover {
  background: #53ebe9;
}
body .menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background: #363851;
  width: 200px;
  padding: 40px;
}
body .menu_options__psize {
  position: relative;
}
body .menu button {
  width: 41px;
  float: left;
  margin-right: 9px;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 6px;
  padding: 12px 10px;
  text-align: center;
  color: #bea5dd;
  box-sizing: border-box;
  font-size: 9px;
  transition: all 0.2s;
  cursor: pointer;
}
body .menu button.active {
  background: #81f0ef;
  border: 1px solid #81f0ef;
  color: #363851;
}
body .menu button:hover {
  background: #81f0ef;
  border: 1px solid #81f0ef;
  color: #363851;
}
body .menu img {
  width: 165px;
}
body .menu h2,
body .menu h3,
body .menu h4 {
  text-transform: uppercase;
  color: #81f0ef;
  margin: 0;
  font-weight: 600;
  clear: both;
}
body .menu h2 {
  font-size: 11px;
  margin-bottom: -6px;
  margin-top: 30px;
  float: left;
}
body .menu h3 {
  font-size: 9px;
  margin-top: 10px;
  margin-bottom: 8px;
}
body .menu h4 {
  font-size: 9px;
  margin-top: 10px;
  color: #8789a9;
  margin-bottom: 8px;
  float: left;
}
body .menu h4 i {
  float: left;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
body .menu p {
  width: 100%;
  font-size: 9px;
  float: left;
  clear: both;
  line-height: 15px;
  color: #8789a9;
  border-bottom: 1px solid #555877;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
body .menu input {
  width: 63px;
  float: left;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 6px;
  padding: 12px 10px;
  text-align: center;
  color: #bea5dd;
  box-sizing: border-box;
  font-size: 9px;
}
body .menu input.inactive {
  color: #6e6489;
}
body .menu input[type=checkbox] {
  float: right;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: relative;
  top: 3px;
  cursor: pointer;
}
body .menu input[type=checkbox]:checked::after {
  content: "";
  display: block;
  font-size: 7px;
  font-family: "fontawesome";
  color: #787a8a;
  position: relative;
  top: 1px;
  left: 0px;
}
body .menu select {
  clear: both;
  float: left;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  float: left;
  background: transparent;
  border: 1px solid #555877;
  outline: none;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 6px;
  text-transform: uppercase;
  padding: 12px 10px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  font-size: 9px;
}
body .menu label {
  cursor: pointer;
}
body .menu label.active h4 {
  color: white;
}
body .menu_animations__animation {
  position: relative;
  clear: both;
}
body .menu_animations__animation::after {
  content: "";
  display: none;
  font-size: 8px;
  font-family: "fontawesome";
  color: #787a8a;
  position: absolute;
  top: 48px;
  right: 14px;
}
body .menu .x {
  font-size: 8px;
  display: block;
  float: left;
  position: relative;
  top: 18px;
  margin: 0 10px;
  color: #bea5dd;
}
/* body .menu .lock {
  width: 26px;
  float: left;
  height: 26px;
  background: #2f303e;
  border-radius: 4px;
  position: relative;
  top: 10px;
  text-align: center;
  line-height: 27px;
  font-size: 12px;
  color: #b6a5d3;
  transition: all 0.2s;
  cursor: pointer;
} */

.sp-button-container.sp-cf {
  display: none;
}

.fa-crosshairs {
  position: absolute;
  right: 30px;
  bottom: 22px;
  color: var(--tool-color);
  transition: all 0.2s;
  cursor: pointer;
}
.fa-crosshairs.active, .fa-crosshairs:hover {
  color: var(--tool-color-hover);
}

.pickOverlay {
  display: none;
  border: 2px solid white;
  width: 40px;
  position: absolute;
  height: 20px;
  border-radius: 4px;
  background: white;
}

.sp-container {
  background: none;
  border: none;
  padding: 0;
}

.sp-picker-container {
  background-color: var(--theme-color-2);
  border: none;
  margin-top: 2vh;
}

.sp-dd {
  line-height: 1vh;
  height: 0;
  margin: 0;
  padding: 0;
  right: 0;
  position: relative;
  font-size: 0;
}
.sp-dd::after {
  content: "";
  display: block;
  font-size: 1.2vh;
  font-family: "fontawesome";
  color: #5a5a5a;
  position: relative;
  top: 0vh;
  left: 1.2vw;
}

.sp-replacer {
  background: none;
  width: 50%;
  float: left;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 1vh;
  text-align: center;
  color: #bea5dd;
  box-sizing: border-box;
  /* font-size: 9px; */
  background-color: var(--theme-color);
  transition: all linear 0.2s;
} .sp-replacer:hover {
  background-color: var(--theme-color-hover);
}

.sp-preview-inner {
  border-radius: 4px;
  border: 2px solid #bebebe;
}

.coutput {
  float: right;
  font-size: 1.5vh;
  font-weight: 400;
  position: relative;
  top: 1vh;
  color: var(--sub-text-color);
}

.sp-color, .sp-val, .sp-sat {
  border: none;
  border-radius: 4px;
  cursor: crosshair;
}

.sp-val {
  border: 3px solid #808080;
  transition: all linear 0.3s;
} .sp-val:hover {
  border: 3px solid #ffffff;
}

.sp-preview {
  border-radius: 3px;
  width: 3vw;
  overflow: hidden;
  height: 3vh;
  border: none;
}

.sp-hue {
  border: none;
  width: 3px;
  border-radius: 10px;
  margin-left: 16px;
}

.sp-slider,
.sp-dragger {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 11px;
  width: 11px;
  left: -6px;
  top: 4px;
  border-radius: 16px;
  border: 2px solid #fff;
  background-color: transparent;
  /* background: var(--theme-color-2); */
  opacity: 1;
}

.sp-slider {
  transform: translateY(4px) translateX(0px);
}

.sp-dragger {
  transform: translateY(1px) translateX(1px);
  background: none !important;
  cursor: crosshair;
}

.sp-flat {
  margin-top: -13px;
}

[type=range] {
  -webkit-appearance: none;
  margin: 7px 0;
  width: 100%;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:hover::-webkit-slider-runnable-track {
  background: var(--tool-color-hover);
}
[type=range]:focus::-ms-fill-lower {
  background: #464753;
}
[type=range]:focus::-ms-fill-upper {
  background: #525361;
}
/* zoom input */
[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 0px 0px 0px #464753, 0 0 0px #525361;
  background: var(--tool-color);
  border-radius: 0px;
}
/* zoom input */
[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
  background: var(--theme-color);
  border: 2px solid var(--tool-color-hover);
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
[type=range]::-moz-range-track {
  cursor: pointer;
  height: 3px;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 0px 0px 0px #464753, 0 0 0px #525361;
  background: #464753;
  border: 0px solid red;
  border-radius: 0px;
}
[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
  background: #2f303e;
  border: 2px solid #81f0ef;
  border-radius: 7px;
  cursor: pointer;
  height: 14px;
  width: 14px;
}
[type=range]::-ms-track {
  cursor: pointer;
  height: 3px;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 7px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 0px 0px 0px #464753, 0 0 0px #525361;
  background: #3a3b45;
  border: 0px solid red;
  border-radius: 0px;
}
[type=range]::-ms-fill-upper {
  box-shadow: 0px 0px 0px #464753, 0 0 0px #525361;
  background: #464753;
  border: 0px solid red;
  border-radius: 0px;
}
[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
  background: #2f303e;
  border: 2px solid #81f0ef;
  border-radius: 7px;
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-top: 0;
}

select {
  display: none;
}

.select2-container--default .select2-selection--single {
  background-color: #363851;
  border: 1px solid #555877;
  border-radius: 4px;
  outline: 0;
  height: 38px;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
  font-size: 10px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  display: none;
}

.select2-search--dropdown {
  display: none;
  padding: 4px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ae88f0;
  color: white;
  /* font-size: 10px; */
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ae88f0;
}

.sp-input {
  font-size: 12px !important;
  border: 2px solid #858585;
  padding: 4px 5px;
  margin: 10px 0 4px 0;
  width: 163px;
  background: transparent;
  border-radius: 3px;
  outline: none;
  color: #fff;
  font-family: 'Jost', sans-serif;;
  transition: all linear 0.2s;
} .sp-input:hover {
  border: 2px solid #ffffff;
} .sp-input:focus {
  border: 2px solid var(--accent-color);
}

.select2-dropdown {
  background-color: #363851;
  border: 1px solid #555877 !important;
  border-radius: 4px !important;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -8px;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 7px;
  right: 11px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  font-size: 10px;
  line-height: 28px;
  padding: 5px 12px;
}

.select2-container {
  width: 198px;
}


canvas {
  margin-left: 400px;
  display: none;
}

body .scene {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.keyframes {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #728995;
  height: 12vh;
  background-color: var(--theme-color);
}
.keyframes canvas {
  position: absolute;
  display: block;
  margin: 0;
  left: 0;
  background: wheat;
}
.keyframes_control {
  position: absolute;
  bottom: 12vh;
  width: 100%;
  background: var(--theme-color-2);
  left: 0;
  padding: 1vh 2vw;
}
.keyframes_control .controls {
  float: right;
}
.keyframes_control .controls input, .keyframes_control .controls h4 {
  float: left;
  clear: none;
}
.keyframes_control .controls input {
  float: left;
  background: transparent;
  border: 2px solid var(--tool-color);
  outline: none;
  border-radius: 4px;
  padding: 0.4vh 0;
  text-align: center;
  color: var(--tool-color-hover);
  width: 3vw;
  box-sizing: border-box;
  font-size: 1.5vh;
  transition: all linear 0.2s;
} .keyframes_control .controls input:hover {
  border: 2px solid var(--tool-color-hover);
} .keyframes_control .controls input:focus {
  border: 2px solid var(--accent-color);
}
.keyframes_control .controls input[type=checkbox] {
  float: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.2vh;
  height: 2.2vh;
  padding: 0;
  position: relative;
  margin-left: -6px;
  top: 0.3vh;
  background: transparent;
  border: 2px solid var(--tool-color);
  outline: none;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  font-size: 9px;
  cursor: pointer;
  transition: all linear 0.2s;
}
.keyframes_control .controls input[type=checkbox]:hover {
  border: 2px solid var(--tool-color-hover);
}
.keyframes_control .controls input[type=checkbox]:checked::after {
  content: "";
  display: block;
  font-size: 1.3vh;
  font-family: "fontawesome";
  color: var(--tool-color-hover);
  position: relative;
  top: 0.25vh;
  left: 0;
}
.keyframes_control .controls h4 {
  margin-left: 2.5vw;
}
.keyframes_control .controls div {
  text-align: center;
  height: 3.5vh;
  width: 3.5vh;
  color: var(--tool-color);
  float: left;
  margin-right: 0.5vw;
  cursor: pointer;
  transition: all linear 0.2s;
  position: relative;
  font-size: 1.5vh;
}
.keyframes_control .controls div:hover {
  color: var(--tool-color-hover);
}
.keyframes_control .controls div i {
  position: relative;
  top: 0.75vh;
}
.keyframes_control h4 {
  text-transform: uppercase;
  color: var(--sub-text-color);
  margin: 0.6vh 0.6vw 0 0;
  font-weight: 500;
  clear: both;
  float: left;
  position: relative;
  top: 0.2vh;
  font-size: 1.4vh;
}
.keyframes .frame {
  height: 6vh;
  width: 9vh;
  background: transparent;
  cursor: pointer;
  float: left;
  border-radius: 4px;
  border: 2px solid var(--tool-color);
  margin: 0.8vh -1vw 0 2vw;
  position: relative;
  opacity: 0.6;
}
.keyframes .frame canvas {
  background: transparent;
  height: 100%;
  border-radius: 4px;
  width: 100%;
}
.keyframes .frame img {
  width: 100%;
}
.keyframes .frame.activeF {
  border: 2px solid var(--tool-color-hover);
  opacity: 1;
}
.keyframes .frame.activeF .frameTitle {
  color: var(--tool-color-hover);
}
.keyframes .frame .frameTitle {
  position: absolute;
  font-weight: 400;
  top: -2.7vh;
  z-index: 1;
  color: var(--tool-color);
  font-size: 1.2vh;
}
.keyframes .frame:hover .fa-trash,
.keyframes .frame:hover .fa-copy {
  opacity: 1;
}
.keyframes .fa-trash,
.keyframes .fa-copy {
  position: absolute;
  bottom: 5px;
  font-size: 11px;
  z-index: 1;
  right: 5px;
  opacity: 0;
  transition: all 0.2s;
}
.keyframes .fa-trash:hover,
.keyframes .fa-copy:hover {
  color: #81f0ef;
}
.keyframes .fa-copy {
  right: 19px;
}
.keyframes .playhead {
  width: 1px;
  height: 102px;
  background: white;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 11;
}
.keyframes .frames {
  width: calc(100% - 8vw);
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  bottom: 0;
  padding-top: 3vh;
}
.keyframes .frames .wrap {
  width: 100000px;
}
.keyframes .add {
  height: 6vh;
  width: 9vh;
  cursor: pointer;
  float: right;
  border-radius: 4px;
  text-align: center;
  color: white;
  background: var(--tool-color);
  line-height: 6vh;
  opacity: 0.5;
  transition: all 0.2s;
  margin: 3vh 2vw 0 0;
}
.keyframes .add:hover {
  opacity: 1;
}
.keyframes .play,
.keyframes .stop {
  float: right;
}

.pcount {
  position: absolute;
  right: -180px;
  font-size: 10px;
}
.pcount p {
  width: 150px;
  margin: 4px 0;
  opacity: 0.3;
  font-size: 9px;
  line-height: 13px;
}
.pcount span {
  opacity: 0.3;
}
.pcount span.c {
  opacity: 1;
}
.pcount h5 {
  margin: 0 0 7px 0;
  font-size: 10px;
  color: #81f0ef;
}

.zoom {
  transform: scale(1);
  position: absolute;
  width: calc(100vw);
  height: 100vh;
  top: 0;
  left: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}











